<!doctype html>
<html>
<head>
  <title>BigBrother Search</title>
  <link rel="stylesheet" href="//aui-cdn.atlassian.com/aui-adg/5.9.5/css/aui.css" media="all">
  <link rel="stylesheet" href="assets/main.css" media="all">
  <script src="https://code.jquery.com/jquery-3.1.1.min.js" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.6/handlebars.min.js"></script>
  <script src="https://www.hipchat.com/atlassian-connect/all.js"></script>
</head>
<body>

{{{body}}}

</body>
</html>