<section id="content" role="main" class="ac-content">
  <form class="search-form aui">
    <input class="text search-field" type="text" id="search-query" name="search-query" placeholder="Rechercher dans l'historique">
  </form>

  <ul class="search-results"></ul>
</section>

<script id="results-template" type="text/x-handlebars-template">
  \{{#each results}}
    <li class="search-result">
      <div class="search-result-details">
        <span class="search-result-author">\{{this.author}}</span>
        <span class="search-result-date"> - \{{this.date}}</span>
        <span class="search-result-action">+</span>
      </div>
      <div class="search-result-message">\{{this.message}}</div>
    </li>
  \{{/each}}
</script>

<script id="no-results-template" type="text/x-handlebars-template">
  <li class="search-result">Il n'y aucun message qui correspond à votre recherche.</li>
</script>

<script type="text/javascript">
  $(document).ready(function () {
    const searchResultsTemplate = Handlebars.compile($('#results-template').html().trim());
    const noResultsTemplate = Handlebars.compile($('#no-results-template').html().trim());

    const searchQueryInput = $("input#search-query");
    const searchResults = $(".search-results");

    function displayResults(results) {
      if (results.length === 0) {
        searchResults.html(noResultsTemplate());
        return;
      }
      searchResults.html(searchResultsTemplate({ results: results }));
      searchResults.focus();
    }

    $(".search-form").submit(function (event) {
      event.preventDefault();

      const searchQuery = searchQueryInput.val().trim();
      if (searchQuery.length === 0) {
        return;
      }

      if (typeof HipChat === 'undefined') {
        // simulate
        displayResults([
          { author: "Olivier Servieres", message: "MERDEUH", date: "20 Dec, 14:53" },
          { author: "Guillaume Charmetant", message: "C'est pas le champ à utiliser mais bon…", date: "20 Dec, 15:12" },
          { author: "Guillaume Charmetant", message: "Ça vaut le coup de regarder si c'est pas ce qu'ils ont fait, non ?", date: "19 Dec, 09:03" },
          { author: "Olivier Servieres", message: "je déploie tearex", date: "19 Dec, 14:53" }
        ]);
        return;
      }
      HipChat.auth.withToken(function(err, token) {
        $.ajax({
          type: "POST",
          url: "{{endpoint}}/search",
          headers: { 'authorization': 'JWT ' + token },
          data: { query: searchQuery },
          dataType: 'json',
          error: function (jqXHR, status) {
            console.error('fail', status);
          },
          success: function (data) {
            displayResults(data.map(result => result['_source']));
          }
        });
      });
    });

  });
</script>
