<section id="content" role="main" class="ac-content">
  <form class="search-form aui">
    <input class="text search-field" type="text" id="search-query" name="search-query" placeholder="Rechercher dans l'historique">
  </form>

  <ul class="search-results"></ul>
</section>

<script id="results-template" type="text/x-handlebars-template">
  \{{#each results}}
    <li class="search-result">
      <div class="search-result-author">\{{this.author}}</div>
      <div class="search-result-message">\{{this.message}}</div>
    </li>
  \{{/each}}
</script>

<script type="text/javascript">
  $(document).ready(function () {
    const searchResultsTemplate = Handlebars.compile($('#results-template').html().trim());

    function displayResults(results) {
      $('.search-results').html(searchResultsTemplate({ results: results }));
    }

    $(".search-form").submit(function (event) {
      event.preventDefault();

      if (typeof HipChat === 'undefined') {
        // simulate
        displayResults([
          { author: "Olivier Servieres", message: "MERDEUH"},
          { author: "Guillaume Charmetant", message: "C'est pas le champ à utiliser mais bon…" },
          { author: "Guillaume Charmetant", message: "Ça vaut le coup de regarder si c'est pas ce qu'ils ont fait, non ?"},
          { author: "Olivier Servieres", message: "je déploie tearex"}
        ]);
        return;
      }
      HipChat.auth.withToken(function(err, token) {
        $.ajax({
          type: "POST",
          url: "{{endpoint}}/search",
          headers: { 'authorization': 'JWT ' + token },
          data: {
            query: $("input#search-query").val().trim()
          },
          dataType: 'json',
          error: (jqXHR, status) => console.error('fail', status),
          success: data => displayResults(data.map(result => result['_source']))
        });
      });
    });

  });
</script>
