<section id="content" role="main" class="ac-content">
  <form class="search-form">
    <input type="text" name="search" />
    <button type="submit">Chercher</button>
  </form>

  <ul class="search-results"></ul>
</section>

<script id="results-template" type="text/x-handlebars-template">
  {{#each results}}
    <li class="search-result">
      <h1>{{this.author}}</h1>
      <div class="body">
        {{this.message}}
      </div>
    </li>
  {{/each}}
</script>

<script type="text/javascript">
  $(document).ready(function () {
    const searchResultsTemplate = Handlebars.compile($('#results-template').html().trim());

    $(".search-form").submit(function (event) {
      event.preventDefault();

      HipChat.auth.withToken(function(err, token) {
        $.ajax({
          type: "POST",
          url: "{{endpoint}}/search",
          headers: { 'authorization': 'JWT ' + token },
          data: {
            query: $("input[name='search']").val().trim()
          },
          dataType: 'json',
          error: function (jqXHR, status) {
            alert('fail' + status.code);
          },
          success: function (data) {
            $('.search-results').html(searchResultsTemplate({
              results: data.map(function (result) {
                return result['_source'];
              })
            }));
          }
        });
      });
    });

  });
</script>
